<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Quicksand&display=swap" rel="stylesheet"> 
  
  </head>
  <body>
    <h1><%= user.firstName %>'s To do List</h1>
    <form action="/task" method="POST">
      <input type="text"  id="taskName" placeholder="task" id="inputBox" name="name" />
      <button type="submit"  id="enterButton" >Enter</button>
    </form>
    <div>
      <input type="radio" id="all" name="whatToShow" value="all" autocomplete="off" checked>
      <label for="all">All</label>
      <input type="radio" id="complete" name="whatToShow" value="complete">
      <label for="complete" name="whatToShow">Complete</label>
      <input type="radio" id="incomplete" name="whatToShow" value="incomplete">
      <label for="incomplete">Incomplete</label>
    </div>
    <div>
    
    <ul id="tasks">
      <% if(tasks.length == 0) { %>
      <h2>No Tasks Found</h2>
        <% } else{ %>
      <% for(var i=0; i< tasks.length; i++ ) { %>
      <li class="taskLi" id="<%= tasks[i]._id %>">
       
        <% if(tasks[i].isComplete === true){ %> 
          <input type="checkbox" checked>
        <% }else{ %>
          <input type="checkbox">
          <% } %>
        <span> <%= tasks[i].name %> </span>
        <img
          class="deleteImg"
          src="https://www.iconpacks.net/icons/1/free-trash-icon-347-thumb.png"
          width="20"
        />
      </li>
      <% }} %>
      <!-- <li>
        <input type="checkbox" checked="false" />
        <span>My Sample Task</span>
        <img class="deleteImg"
          src="https://www.iconpacks.net/icons/1/free-trash-icon-347-thumb.png"
          width="20"
        />
      </li> -->
    </ul>
  </div>


  <a href="/auth/logout" >Logout</a>
  <script type="application/javascript" src="../main.js"></script>
  </body>
</html>
